{% extends 'base.html' %}
{% block body %}
   <!--
      Extension: En esta parte el cliente realiza el registro
   -->
   <section class="banner_main">
      <div id="banner1" class="carousel slide banner_slide" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container-fluid">
                  <div class="carousel-caption">
                     <div class="row">
                        <div class="col-md-7 col-lg-5">
                           <div class="text-bg">
                              <h1 style = "margin-top: 30vh; margin-left: -9vh;">Sector Mérida</h1>
                              <span></span>
                              <h2 style = "margin-top: -12vh; margin-left: -6vh; font-weight: bold;" >Gestión de Cilindros de Gas...¡Bienvenidos!</h2>
                           </div>
                        </div>
       
                        <div class="col-md-12 col-lg-7">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="ban_track">
                                    <figure><img src="{{ url_for('static', filename='Bombona de gas.jpg') }}" style="margin-left: -150vh; margin-top: -8vh;"alt="#"/></figure>
                                 </div>
                              </div>

                              <div class="col-md-6">
                                 <form class="transfot" action="{{ url_for('guardar_registro_cli') }}" method="POST">
                                    <div class="col-md-12">
                                       <h3>Regístrate</h3>
                                    </div>
                              
                                    <div class="col-md-12">
                                       <input class="transfot_form " placeholder="Nombre" type="text" name="nombre" required>
                                    </div>
                               
                                    <div class="col-md-12">
                                       <input class="transfot_form" placeholder="Cédula" type="number" name="cedula" required>
                                    </div>
                               
                                    <div class="col-md-12">
                                       <input class="transfot_form" placeholder="Usuario" type="text" name="usuario" required>
                                    </div>
                               
                                    <div class="col-md-12">
                                       <input class="transfot_form" placeholder="Contraseña" type="password" name="contrasena" required>
                                    </div>
                               
                                    <div class="col-md-12">
                                       <input class="transfot_form form-control-sm" placeholder="Correo" type="email" name="correo" required>
                                    </div>
                                
                                    <div class="col-md-12">
                                       <button class="get_now">Registrarme</button>
                                    </div>
                                
                                    <div class="col-md-12">
                                       <a href="/">Iniciar sesión</a>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock body %}
      

